In [1]:
first name = 'Priyanka'  #(cannot add spaces and name the variables)

SyntaxError: invalid syntax (<ipython-input-1-dd3d29d3f6bb>, line 1)

In [2]:
first_name = 'Priyanka'

In [3]:
print(first_name)

Priyanka

In [4]:
firstname = "Priyanka"

In [5]:
print(firstname)

Priyanka

In [6]:
## Case sensitive variable declarations as Python is a case sensitive language

In [7]:
My_name = 'Priyanka'
print(MY_NAME)  # because it is case sensitive and does not match with the declared variable.

NameError: name 'MY_NAME' is not defined

In [8]:
print(My_name)

Priyanka

In [9]:
1name = 'Priyanka' #variable initals starting from numbers and having space is not a valid syntax

SyntaxError: invalid syntax (<ipython-input-9-9d85f456c8b1>, line 1)

In [10]:
name1 = 'Priyanka'

In [11]:
print(name1)

Priyanka

In [12]:
name1 = 'Priyanka'
Print(name1)

NameError: name 'Print' is not defined

In [13]:
#name 'Print' is not defined because the keyword is print and not Print.

In [14]:
name1 = 'Rosie'
print(name1)

Rosie

In [15]:
name2 = "Julia"
print(name2)

Julia

In [16]:
name3 = "'Susan'"

In [17]:
print(name3)

'Susan'

In [19]:
name4 = ""'Rohini'""
print(name4)

Rohini

In [20]:
type(name1)

str

In [21]:
type(name2)

str

In [22]:
type(name3)

str

In [23]:
type(name4)

str

In [24]:
#type(varname/value) tells you the type of data stored in the variable or defined in the parameters.

In [25]:
full_name = 'priyanka pandey'
print(full_name)

priyanka pandey

In [26]:
## -- Title format --##

In [27]:
print(full_name.title()) ## title() returns the first initials as capital and rest in small case

Priyanka Pandey

In [28]:
print(full_name.upper()) ## upper function is used to convert strings into upper case alphabets

PRIYANKA PANDEY

In [29]:
print(full_name.lower()) ## upper function is used to convert strings into lower case alphabets

priyanka pandey